@model Laul.WebUI.Models.Album.CreateAlbumDto

@{
    ViewData["Title"] = "Create Album";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body class="d-flex flex-column h-100">
    <h1>@ViewData["Title"]</h1>

    <div class="container my-5">
        
        <form id="albumForm" method="post" asp-controller="Album" asp-action="CreateAlbum" enctype="multipart/form-data" class="mt-3">
            <div>
                <input asp-for="ArtistId" name="ArtistId" type="hidden">
            </div>

            <div class="mb-3">
                <label asp-for="Title" class="form-label">Title:</label>
                <textarea asp-for="Title" name="Title" class="form-control"></textarea>
            </div>

            <div class="mb-3">
                <label asp-for="PublishDate" class="form-label">Publish Date:</label>
                <input asp-for="PublishDate" type="date" name="PublishDate" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="Genre" class="form-label">Genre:</label>
                <textarea asp-for="Genre" name="Genre" class="form-control"></textarea>
            </div>

            <div class="mb-3">
                <label asp-for="Image" class="form-label">Photo:</label>
                <input type="file" asp-for="Image" accept="image/*" name="Image" onchange="previewImage(this)" class="form-control" />
                <div id="photoPreview" style="margin-top: 10px; max-width: 200px; max-height: auto;"></div>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</body>
</html>


