@model Laul.WebUI.Models.Album.CreateAlbumDto

@{
    ViewData["Title"] = "Create Album";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <form id="albumForm" enctype="multipart/form-data">
        <div>
            <input asp-for="ArtistId" name="ArtistId" type="hidden">
        </div>
        <div>
            <label asp-for="Title">Title:</label>
            <textarea asp-for="Title" name="Title"></textarea>
        </div>

        <div>
            <label asp-for="PublishDate">Publish Date:</label>
            <input asp-for="PublishDate" type="date" name="PublishDate" />
        </div>

        <div>
            <label asp-for="Genre">Genre:</label>
            <textarea asp-for="Genre" name="Genre"></textarea>
        </div>

        <div>
            <label asp-for="Image">Photo:</label>
            <input type="file" asp-for="Image" accept="image/*" name="Image" onchange="previewImage(this)" />
            <div id="photoPreview" style="margin-top: 10px; max-width: 200px; max-height: auto;"></div>
        </div>

        <button type="button" onclick="sendAlbumRequest()">Create</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        function sendAjaxRequest() {
            const modal = new bootstrap.Modal(document.getElementById('modal'));

            var albumDto = {
                ArtistId: $('#ArtistId').val(),
                Title: $('#Title').val(),
                Image: $('#Image')[0].files[0],
                PublishDate: $('#PublishDate').val(),
                Genre: $('#Genre').val()
            };

            $.ajax({
                url: '/Album/CreateAlbum',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(albumDto),
                success: function (data) {
                    console.log('Success:', data);
                    modal.hide()
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        }
    </script>
</body>
</html>


