.playlist-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.songs-row {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.song-card {
    flex: 0 0 auto;
    text-align: center;
}

    .song-card img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 8px;
    }

@media (max-width: 600px) {
    .songs-row {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
}
