.container {
    display: flex;
    justify-content: space-between;
}

.title {
    flex: 1; /* Займає доступне простір в рядку */
}

.description {
    flex: 2; /* Займає доступне простір в рядку */
}

.song-cover {
    filter: brightness(1);
    transition: filter 0.3s ease;
}

.song-card:hover .song-cover {
    filter: brightness(0.8);
}
