body {
    display: flex;
    justify-content: space-between;
}

.details {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Вирівнювання вгору (починається зверху) */
}

h1, h2, p, ul {
    margin: 0; /* Видалення зовнішнього відступу, щоб уникнути додаткових відступів */
}
