@model Laul.Application.Services.Playlists.Queries.GetPlaylistList.PlaylistListVm

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/playlistList.css"/>
    <script src="~/js/Playlist/sendDeletePlaylist.js"></script>
    <script src="~/js/Song/songMenu.js"></script>

</head>
<body>
    <h1>Playlist's List</h1>
    <a class="btn btn-primary" href="@Url.Action("CreatePlaylist")">Create Playlist</a>

    <nav>
        <ul class="playlist-list">
            @foreach (var playlist in Model.Playlists)
            {
                <li class="list-group-item">
                    <a href="@Url.Action("GetPlaylistDetails", new { Id = playlist.Id })">@playlist.Title</a>
                    <div class="dropdown">
                        <a class="bx bx-dots-vertical-rounded dropdownButton text-decoration-none" onmouseover="changeCursor(this)"></a>
                        <ul class="dropdown-menu song-cover">
                            <li onclick="deletePlaylist(@playlist.Id)">Delete</li>
                        </ul>
                    </div>
                </li>
            }
        </ul>
    </nav>

</body>

</html>

